force-app/main/default/flows/Skills_Based_Routing_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SkillBasedRoutingWhichDoesEverything</name>
        <label>SkillBasedRoutingWhichDoesEverything</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <actionName>skillsBasedRouting</actionName>
        <actionType>skillsBasedRouting</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <elementReference>RoutingConfigurationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillIdList</name>
            <value>
                <elementReference>AllSkillsInaStringSeparatedWithCommas</elementReference>
            </value>
        </inputParameters>
        <nameSegment>skillsBasedRouting</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_matched_skill_to_SkillListString_concatenated_with_Commas</name>
        <label>Assign matched skill to SkillListString concatenated with Commas</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AllSkillsInaStringSeparatedWithCommas</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConcatenatedString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_skills</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Subject_contains_the_skill_name_of_current_loop_skill_variable</name>
        <label>Is Subject contains the skill name of current loop skill variable</label>
        <locationX>396</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_all_skills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_all_skills.MasterLabel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_matched_skill_to_SkillListString_concatenated_with_Commas</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ConcatenatedString</name>
        <dataType>String</dataType>
        <expression>{!AllSkillsInaStringSeparatedWithCommas} + &apos;,&apos; + {!Loop_Through_all_skills.Id}</expression>
    </formulas>
    <formulas>
        <name>RoutingConfigurationID</name>
        <dataType>String</dataType>
        <expression>{!Get_Routing_Configuration.Id}</expression>
    </formulas>
    <interviewLabel>Skills Based Routing Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Skills Based Routing Flow</label>
    <loops>
        <name>Loop_Through_all_skills</name>
        <label>Loop Through all skills</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>GetAllSkills</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Subject_contains_the_skill_name_of_current_loop_skill_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SkillBasedRoutingWhichDoesEverything</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Routing_Configuration</name>
        <label>Get Routing Configuration</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAllSkills</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chat_Apex_Hours</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QueueRoutingConfig</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAllSkills</name>
        <label>GetAllSkills</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_all_skills</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Skill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Routing_Configuration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllSkillsInaStringSeparatedWithCommas</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
